
body {
	margin: 1em;
	padding: 0;
	background: #91e6f1;
	font-weight: 300;
	color: #040404;
	font-size: 100%;
}

header, section, footer {
	width: 80%;
	margin: 20px auto;
}

h1 {
    font-family: 'Goudy Bookletter 1991', serif;
    font-size: 3em;
    font-weight: 900;
    letter-spacing: .04em;
}

h2 {
    font-family: 'Goudy Bookletter 1991', serif;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: .04em;
}

p {
  font-family: 'Goudy Bookletter 1991', serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

a {
  color: #0044aa;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 20px;
}

li {
  margin: 10px 0;
}

hr {
  margin: 20px 0;
  border: 0;
  height: 1px;
  background: #d3d3d3;
}

.caption {
  margin: 0 0 20px 0;
  display: block;
}
		
#map {
	width: 100%;
	height: 700px;
}

.max-image-width {
  width: 100%;
}

/* Use float property to make two-column layout */
.first-column {
  float: left;
  width: 49%;
  padding-right: 2%;
}

.column {
  float: left;
  width: 49%;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: block;
  clear: both;
}

/* When browser is 900px wide or less */
@media screen and (max-width: 900px) {

  .first-column,
  .second-column {
    width: 100%;
  }
}

#legend {
  padding: 6px 8px;
  font-family: 'Libre Caslon Text', serif;
  font-size: 1rem;
  border-radius: 5px;
  max-width: 200px;
  color: rgba(244, 244, 244, 0.8);
  border-radius: 5px;
}

#legend span {
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 10px 4px 0;
}

#legend label {
  font-size: 0.9rem;
  font-family: 'Libre Caslon Text', serif;
}

#legend label:after {
  content: "";
  display: block;
  clear: both;
}

.container-fluid {
  background-color: #333;
}

#dropdown-ui {
  appearance: none;
  outline: none;
  border: none;
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Libre Caslon Text', serif;
  font-size: 1.5rem;
  text-align: center;
}